/*Calendar.css*/
/* Calendar Container */
.calendar-container {
    width: 1200px;
    max-width: 90vw;
    margin: 50px auto;
    height: auto;
    aspect-ratio: 1/1;
    position: relative; 
    z-index: 0; 
}

/* FullCalendar 기본 스타일 */

/* 일요일 날짜: 빨간색 */
.fc .fc-day-sun a {
    color: red;
}

/* 토요일 날짜: 파란색 */
.fc .fc-day-sat a {
    color: blue;
}

/* 제목 볼드 제거 */
.fc .fc-toolbar-title {
    font-weight: normal;
}

/* 일정표 툴바 */
.fc .fc-toolbar.fc-header-toolbar {
    margin: 0;
    padding: 0 40px;
    background-color: #7ac98b;
    height: 60px;
    font-size: 18px;
    line-height: 30px;
    color: white;
    border-radius: 20px 20px 0 0;
}

/* 툴바 버튼 */
.fc .fc-toolbar-chunk .fc-button {
    background-color: #51a864;
    border: none;
    font-size: 16px;
    transition: background 0.2s;
}

.fc .fc-toolbar-chunk .fc-button:hover {
    background-color: #50dd6e;
}

.fc .fc-toolbar-chunk .fc-button:disabled {
    color: #e8e8e8;
}

.fc .fc-toolbar-chunk .fc-button:disabled:hover {
    background-color: transparent;
}

.fc .fc-toolbar-chunk .fc-button:focus {
    box-shadow: none;
}

/* 날짜 변경 화살표 */
.fc .fc-button-primary span {
    font-weight: 500;
    font-size: 28px;
}

/* 요일 높이 */
.fc-theme-standard th {
    height: 40px;
    background: #f5f5f5;
    border: 1px solid #e8e8e8;
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;
    color: #7b7b7b;
    vertical-align: middle;
}

/* 오늘 날짜 강조 */
.fc .fc-daygrid-day.fc-day-today {
    background-color: #00ff6a24;
}

/* 날짜 Cell 프레임 */
.fc .fc-daygrid-day-frame {
    padding: 20px;
    height: 150px;
}

/* 월간/주간 뷰 Cell 시작 위치 */
.fc .fc-daygrid-day-top {
    flex-direction: row;
    height: 30px;
    margin-bottom: 3px;
}

/* 날짜 숫자 z-index 초기화 */
.fc .fc-daygrid-day-number {
    z-index: auto !important;
}

/* 이벤트 막대 스타일 */
.fc-event {
    padding: 2px 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    font-weight: 350;
    font-size: 17px;
    outline: none;
    /* 색상 변경을 위한 사용자 정의 속성 및 기본값 */
    background-color: var(--event-bg-color, #55a77e); /* 배경색 (기본값: 파란색) */
    color: var(--event-text-color, #ffffff);         /* 글자색 (기본값: 흰색) */
}

