/* Calendar Container */
.calendar-container {
    width: 1250px;
    max-width: 90vw;
    margin: 50px auto;
    height: 90vh; /* 화면 전체 높이 */
    aspect-ratio: 1/1;
    position: relative; 
    z-index: 0; 
}

/* 일요일/토요일 */
.fc .fc-day-sun a { color: red; }
.fc .fc-day-sat a { color: blue; }

/* 툴바 */
.fc .fc-toolbar-title { font-weight: normal; }
.fc .fc-toolbar.fc-header-toolbar {
    margin: 0;
    padding: 0 40px;
    background-color: #7ac98b;
    height: 60px;
    font-size: 18px;
    line-height: 30px;
    color: white;
    border-radius: 20px 20px 0 0;
}
.fc .fc-toolbar-chunk .fc-button {
    background-color: #4aaa5f;
    border: none;
    font-size: 16px;
    transition: background 0.2s;
}
.fc .fc-toolbar-chunk .fc-button:hover { background-color: #308643; }
.fc .fc-toolbar-chunk .fc-button:disabled { color: #fcfafa; }
.fc .fc-toolbar-chunk .fc-button:disabled:hover { background-color: #308643; }
.fc .fc-toolbar-chunk .fc-button:focus { box-shadow: none; }
.fc .fc-button-primary span { font-weight: 500; font-size: 28px; }

/* 요일 높이 */
.fc-theme-standard th {
    height: 40px;
    background: #f5f5f5;
    border: 1px solid #e8e8e8;
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;
    color: #7b7b7b;
    vertical-align: middle;
}

/* 오늘 날짜 강조 */
.fc .fc-daygrid-day.fc-day-today { background-color: #0fe48b24; }

/* 날짜 Cell */
.fc .fc-daygrid-day-frame { padding: 10px; height: 150px; }
.fc .fc-daygrid-day-top { flex-direction: row; height: 30px; margin-bottom: 8px; }
.fc .fc-daygrid-day-number { z-index: auto !important; }

/* 이벤트 막대 */
.fc-event {
    padding: 20px 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    font-weight: 350;
    font-size: 17px;
    outline: none;
    background-color: var(--event-bg-color, #55a77e);
    color: var(--event-text-color, #ffffff);
}

/* ============================== */
/* 이벤트 바 + 수정/삭제 버튼 */
/* 이벤트 바 */
.fc-custom-event {
    position: relative;       /* 버튼 기준 */
    padding: 5px 10px;        /* 제목과 내용 여유 공간 */
    border-radius: 4px;
    background-color: var(--event-bg-color, #55a77e);
    color: var(--event-text-color, #ffffff);
    font-size: 17px;
    min-height: 40px;         /* 버튼이 들어갈 공간 확보 */
}

/* 제목 좌상단 */
.fc-event-title {
    position: absolute;
    top: -10px;
    left: 8px;
    font-weight: 500;
}

/* 버튼 우하단 */
.fc-event-btns {
    position: absolute;
    bottom: -10px;
    right: 0px;
    display: flex;
    gap: 5px;
}

/* 버튼 스타일 */
.fc-edit-btn, .fc-delete-btn {
    padding: 2px 6px;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.fc-edit-btn {
    background: #ffffff;
    color: #000102;
}
.fc-edit-btn:hover { background: #cacaca; }

.fc-delete-btn {
    background: #ff4d4d;
    color: white;
}
.fc-delete-btn:hover { background: #d13434; }
